.summary-card {

    width: 100%;

    background: #fff;

    padding: 25px;

    border-radius: 18px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    border: 1px solid #eee;
    display: flex;

    flex-direction: column;

    gap: 18px;

}

.summary-header h2 {

    display: flex;

    align-items: center;

    gap: 10px;

    color: #8d4a23;

    font-size: 28px;

}

.summary-header img {

    width: 35px;

    height: 35px;

}

.summary-row {

    display: flex;

    justify-content: space-between;

    font-size: 17px;

}

.summary-row:last-of-type {
    border-bottom: none;
}

.free {

    color: green;

    font-weight: bold;

}

.summary-total {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.summary-total h2 {

    color: #8d4a23;

}

.coupon-box {

    display: flex;

    gap: 10px;

}

.coupon-box input {

    flex: 1;

    padding: 12px;

    border: 1px solid #ddd;

    border-radius: 8px;

    outline: none;

}

.coupon-box button {

    padding: 12px 20px;

    background: #8d4a23;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: .3s;

}

.coupon-box button:hover {

    background: #6d3517;

}

.coupon-box input:focus {
    border-color: #8d4a23;
    box-shadow: 0 0 0 3px rgba(141, 74, 35, .15);
}

.checkout-btn {

    width: 100%;

    padding: 15px;

    background: #8d4a23;

    color: white;

    border: none;

    border-radius: 10px;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;

}

.checkout-btn:hover {
 background:#6d3517;
    transform:translateY(-2px);
 

}

.secure {

    text-align: center;
     color:#777;
    font-size:14px;

}

/* Tablet */

@media(max-width:992px) {

    .summary-card {

        margin-top: 20px;

    }

}

/* Mobile */

@media(max-width:768px) {

    .summary-card {

        padding: 18px;

    }

    .summary-header h2 {

        font-size: 24px;

    }

    .coupon-box {

        flex-direction: column;

    }

    .coupon-box button {

        width: 100%;

    }

    .checkout-btn {

        font-size: 16px;

    }

}