.cart-products{
    width:100%;
    background:#fff;
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

/* Tablet */

@media (max-width:992px){

.cart-products{
    padding:18px;
}

}

/* Mobile */

@media (max-width:768px){

.cart-products{
    border-radius:15px;
    padding:15px;
    gap:15px;
}

}

/* Small Mobile */

@media (max-width:480px){

.cart-products{
    padding:12px;
}

}