.cart-page {
    width: 100%;
    min-height: 100vh;
    background: #f8f8f8;
}

/* Header */

.cart-header {
    width: 100%;
    min-height: 220px;
    padding-top: 80px;
    background: linear-gradient(135deg, #8d4a23, #b77a4d);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-inline: 20px;
    padding-bottom: 40px;
}

.cart-header h1 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: .5px;
}

.cart-header p {
    color: #f5f5f5;
    font-size: 20px;
}

/* Main */

.cart-container {
    width: 90%;
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    gap: 35px;
    align-items: flex-start;
}

/* Left */

.cart-left {
    flex: 2;
}

/* Right */

.cart-right {
    flex: 1;
    position: sticky;
    top: 95px;
}

/* Related */


.related-section {
    width: min(90%, 1400px);
    margin: 70px auto;
    border-top: 1px solid #eee;
    padding-top: 40px;
}

.related-section h2 {
    color: #8d4a23;
    margin-bottom: 25px;
    font-size: 32px;
}


.cart-left,
.cart-right {
    animation: fade .5s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* -------------------------- */
/* Tablet */
/* -------------------------- */

@media (max-width:1024px) {

    .cart-container {
        flex-direction: column;
    }

    .cart-left,
    .cart-right {
        width: 100%;
    }

    .cart-right {
        position: static;
    }

    .related-section h2 {
        text-align: center;
    }

}

/* -------------------------- */
/* Mobile */
/* -------------------------- */

@media (max-width:768px) {

    .cart-header {
        min-height: 180px;
    }

    .cart-header h1 {
        font-size: 32px;
    }

    .cart-header p {
        font-size: 17px;
    }

    .cart-container {
        width: 95%;
        margin: 30px auto;
    }

    .related-section {
        width: 95%;
    }

    .related-section h2 {
        font-size: 26px;
    }

}

/* -------------------------- */

@media (max-width:480px) {

    .cart-header h1 {
        font-size: 28px;
    }

    .cart-header p {
        font-size: 15px;
    }

    .related-section h2 {
        font-size: 22px;
    }

}