
.button div{
    width:200px ;
    height: 55px;
    background-color: #8d4a23b4;
    text-align: center;
    align-content: center;
    border-radius: 30px;
}

.button div:hover{
    border: 1px solid #8d4a23b4;
    background-color: white;
}

.abutton{
    height: 5%;
    width: 200px;
    text-decoration: none;
    color: white; 
    gap: 5px;
    background-color: #8d4a2300;
}

.abutton:hover{
    color: #8d4a23b4;
}