.design-actions{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:15px;
    margin-top:20px;
}

.action-link{
    text-decoration:none;
}

.action-btn{
    width:180px;
    height:50px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:0.3s;
}

.preview-btn{
    background:#ffffff;
    color:#8d4a23;
    border:2px solid #8d4a23;
}

.preview-btn:hover{
    background:#8d4a23;
    color:#fff;
}

.cart-btn{
    background:#8d4a23;
    color:#fff;
}

.cart-btn:hover{
    background:#6f391a;
}

.save-btn{
    background:#A5B29A;
    color:#fff;
}

.save-btn:hover{
    background:#7f8d75;
}