.featured {

    padding: 80px 20px;

    text-align: center;

}

.featured h1 {
    color: #8d4a23;
    font-size: clamp(2rem, 5vw, 2.8rem);
    font-weight: 800;
}

.featured p {

    color: #555;

    margin: 20px auto 50px;

    max-width: 700px;

}

.featured-grid {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.featured-card {

    background: #fff;

    border-radius: 24px;

    padding: 30px;

    border: 1px solid #ececec;

    box-shadow: 0 12px 35px rgba(0, 0, 0, .08);

    transition: .35s ease;

    cursor: pointer;

    overflow: hidden;

}


.featured-card:hover {

    transform: translateY(-12px);

    box-shadow: 0 22px 45px rgba(141, 74, 35, .18);

    border-color: #8d4a23;

}



.featured-card img {

    width: 180px;

    height: 180px;

    object-fit: contain;
    transition: .35s;

}

.featured-card:hover img {

    transform: scale(1.08) rotate(-5deg);

}

.featured-card h2 {

    margin: 15px 0;

    color: #8d4a23;

}

.featured-card span {

    color: #87947b;

    font-weight: 600;

}

.featured-card h3 {

    margin-top: 20px;

}

.featured-card ul {

    list-style: none;

    padding: 0;

}

.featured-card li {

    margin: 8px 0;

    color: #555;
    position: relative;

    padding-left: 22px;

}

.featured-card li::before {

    content: "✔";

    position: absolute;

    left: 0;

    color: #8d4a23;

    font-weight: bold;

}

.featured-btn {

    margin-top: 25px;

    width: 100%;

    height: 50px;

    border: none;

    border-radius: 30px;

    background: #8d4a23;

    color: white;

    font-size: 17px;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;

}

.featured-btn:hover {

    background: white;

    color: #8d4a23;

    border: 2px solid #8d4a23;

}

/* Tablet */

@media(max-width:992px) {

    .featured-grid {

        grid-template-columns: repeat(2, 1fr);

    }

}

/* Mobile */

@media(max-width:768px) {
    .featured {

        padding: 70px 18px;

    }

    .featured-grid {

        grid-template-columns: 1fr;

    }

    .featured h1 {

        font-size: 32px;

    }

}