.whychoose{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("../img/bg.webp");
    background-size:cover;
    background-position:center;
    padding:80px 5%;
}

.feedback-container{
    width:100%;
    background:rgba(255,255,255,.90);
    border-radius:20px;
    padding:50px 30px;
}

.feedback-heading{
    text-align:center;
    margin-bottom:50px;
}

.feedback-heading h2{
    font-size:2.7rem;
    color:#8d4a23;
}

.feedback-heading span{
    color:#87947b;
}

.customer-feed{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.feedback-card{
    background:#8d4a23c2;
    color:black;

    border-radius:20px;
    padding:30px;
    transition:.3s;
}

.feedback-card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,.25);
}

.inbox{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.inbox h3{
    font-size:1.4rem;
}

.rating{
    font-size:1.2rem;
}

.comment{
    line-height:1.7;
}

/* ====================== */
/* Tablet */
/* ====================== */

@media(max-width:992px){

.customer-feed{
    grid-template-columns:repeat(2,1fr);
}

.feedback-heading h2{
    font-size:2.2rem;
}

}

/* ====================== */
/* Mobile */
/* ====================== */

@media(max-width:768px){


.whychoose{
    padding:60px 20px;
}

.feedback-container{
    padding:35px 20px;
}

.customer-feed{
    grid-template-columns:1fr;
}

.feedback-heading h2{
    font-size:1.8rem;
}

.feedback-card{
    padding:20px;
}

.inbox h3{
    font-size:1.2rem;
}

.comment{
    font-size:.95rem;
}

}