/* ===========================
   Hero Section
=========================== */

.hero {
    width: 100%;
    min-height: calc(100vh - 80px);
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    overflow: hidden;

    background: var(--white);
}

/* ===========================
   Decorative Boxes
=========================== */

.hero-box {

    width: 420px;
    height: 220px;

    position: absolute;

    border-radius: 12px;

}

.hero-left {

    left: 80px;
    bottom: 80px;

    border-left: 15px solid #8d4a23;
    border-bottom: 15px solid #8d4a23;

    opacity: .15;
    filter: blur(1px);
}

.hero-right {

    right: 80px;
    top: 80px;

    border-right: 15px solid #8d4a23;
    border-top: 15px solid #8d4a23;

    opacity: .15;
    filter: blur(1px);
}

/* ===========================
   Content
=========================== */

.hero-content {
    width: min(90%, 900px);
    text-align: center;
    z-index: 10;

}

.hero-content h1 {

    font-size: clamp(2.2rem, 6vw, 4.5rem);
    font-weight: 800;
    letter-spacing: -1px;
    color: #2222;

    margin-bottom: 25px;

    line-height: 1.2;

}

.hero-content span {

    color: #8d4a23;

}

.hero-content p {

    font-size: clamp(1rem, 2vw, 1.3rem);
    max-width: 700px;
    margin: 0 auto 40px;
    color: #555;

    line-height: 1.8;

    margin-bottom: 40px;

}

/* ===========================
   Buttons
=========================== */

.hero-buttons {
   
    display: flex;
    justify-content: center;
    gap: 20px;


}

.hero-buttons a {

    text-decoration: none;

    padding: 16px 38px;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(141, 74, 35, .15);
    border-radius: 35px;

    font-size: 18px;

    transition: .3s;

}

.primary-btn {

    background: #8d4a23;

    color: white;

}

.primary-btn:hover {

    background: white;

    color: #8d4a23;
    transform: translateY(-4px);
    border: 2px solid #8d4a23;

}

.secondary-btn {

    border: 2px solid #8d4a23;

    color: #8d4a23;

}

.secondary-btn:hover {

    background: #8d4a23;
    transform: translateY(-4px);
    color: white;

}

.hero-content {
    animation: fadeUp .8s ease;
}

@keyframes fadeUp {

    from {

        opacity: 0;

        transform: translateY(40px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}





/* ===========================
   Tablet
=========================== */



@media(max-width:992px) {

    .hero-content {

        width: 80%;

    }

    .hero-content h1 {

        font-size: 48px;

    }

    .hero-content p {

        font-size: 20px;

    }

    .hero-box {

        width: 300px;
        height: 180px;

    }

    .hero-left {

        left: 30px;

    }

    .hero-right {

        right: 30px;

    }

}

/* ===========================
   Mobile
=========================== */

@media(max-width:768px) {

    .hero {

        padding: 110px 20px 60px;
        text-align: center;
        min-height: auto;

    }

    .hero-content {

        width: 100%;

    }

    .hero-content h1 {

        font-size: 36px;

    }

    .hero-content p {

        font-size: 17px;

    }

    .hero-buttons {

        flex-direction: column;

        align-items: center;

    }

    .hero-buttons a {

        width: 240px;

        text-align: center;

    }

    .hero-box {

        display: none;

    }

}

/* ===========================
   Small Mobile
=========================== */

@media(max-width:480px) {

    .hero-content h1 {

        font-size: 30px;

    }

    .hero-content p {

        font-size: 15px;

    }

    .hero-buttons a {

        width: 100%;

    }

}