/* ===========================
   Orders List
=========================== */

.orders-list {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

/* ===========================
   Tablet
=========================== */

@media(max-width:992px) {

    .orders-list {
        gap: 20px;
    }

}

/* ===========================
   Mobile
=========================== */

@media(max-width:768px) {

    .orders-list {
        gap: 18px;
    }

}

/* ===========================
   Small Mobile
=========================== */

@media(max-width:480px) {

    .orders-list {
        gap: 15px;
    }

}