.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.page-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #8d4a23;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.page-btn:hover {
  background: #87947b;
}

.page-numbers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-numbers a,
.page-numbers span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #8d4a23;
  border: 1px solid #ddd;
  transition: .3s;
}

.page-numbers a:hover {
  background: #8d4a23;
  color: white;
}

.page-numbers .active {
  background: #8d4a23;
  color: white;
}

@media (max-width:768px){

.pagination{
    gap:10px;
}

.page-btn{
    width:130px;
    padding:10px;
    font-size:14px;
}

.page-numbers{
    gap:6px;
}

.page-numbers a,
.page-numbers span{
    width:35px;
    height:35px;
}

}