.Pagination-content{
    height: 60Px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
}

button{
    height: 45px;
    width: 100px;
    font-size: large;
    border-radius:20px ;
    color: #8d4a2387;
    border: none;
}

button:hover{
    background-color: #8d4a2387;
    color: white;
}

.Pagination-content a{
    text-decoration: none;
    color: #8d4a2387;

}

.Pagination-content a:hover{
    background-color: #8d4a2387;
    color: white;
}