.images{
    height: 480px;
    width: 650px;
    /* border: 1px solid black ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mainimg{
    height: 99%;
    width: 80%;
    /* border: 1px solid black; */
}

.mainimg img{
    height: 100%;
    width: 100%;
}

.thumbnails{
    height: 99%;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.thumbnails img{
    height: 100%;
    width:  50%;
}