.productinfo{
    width: 650px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 25px;
}

.prodeatils{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5px;
    text-align: end;
    padding-top: 120px;    
}

.productoptions{
    width: 70%;
    height: fit-content;
        padding: 10px;

}

.QunatityItem{
    width: 70%;
    height: fit-content;
        padding: 10px;

}

.proaction{
    width: 70%;
    height: fit-content;
        padding: 10px;

}

.protab{
    height: fit-content;
    padding: 10px;
    width: 70%;
}