.productdetial{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perticularpro{
    height:auto;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
}

.productrelated{
    width: 80%;
    height: fit-content;
    padding: 15px;
    padding-bottom: 30px;
}

