.quantity{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

.quantity h3{
    color:#8d4a23;
    font-size:1.2rem;
}

.quantity-box{
    display:flex;
    align-items:center;
    border:2px solid #ddd;
    border-radius:10px;
    overflow:hidden;
}

.qty-btn{
    width:45px;
    height:45px;
    border:none;
    background:#8d4a23;
    color:white;
    font-size:1.4rem;
    cursor:pointer;
    transition:.3s;
}

.qty-btn:hover{
    background:#87947b;
}

.qty-value{
    width:60px;
    text-align:center;
    font-size:1.2rem;
    font-weight:600;
}

/* Tablet */

@media(max-width:768px){

.quantity{
    justify-content:center;
}

}

/* Mobile */

@media(max-width:480px){

.quantity{
    flex-direction:column;
    align-items:center;
}

.qty-btn{
    width:40px;
    height:40px;
}

.qty-value{
    width:50px;
    font-size:1rem;
}

}