.relatedgrid{
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:30px;
}

/* Laptop */

@media (max-width:1200px){

.relatedgrid{
    grid-template-columns:repeat(3,1fr);
}

}

/* Tablet */

@media (max-width:768px){

.relatedgrid{
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

}

/* Mobile */

@media (max-width:480px){

.relatedgrid{
    grid-template-columns:1fr;
    gap:20px;
}

}