.searchbar {
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    width:90%;
    max-width:1000px;
    display:flex;
    gap:15px;
}

.search-input{
    flex:1;
    height:55px;
    border:2px solid #8d4a23b1;
    border-radius:40px;
    padding:0 20px;
    font-size:18px;
    outline:none;
    transition:.3s;
}

.search-input:focus{
    border-color:#8d4a23;
}

.search-btn{
    width:170px;
    border:none;
    border-radius:40px;
    background:#8d4a23;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.search-btn:hover{
    background:#69371a;
}

@media(max-width:768px){

.search-container{
    flex-direction:column;
}

.search-btn{
    width:100%;
    height:55px;
}

}